# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Generated pandapower HTML plots
code_grid/Pandapower/*.html
